app-wasm/node_modules
app-wasm/dist
/app-wasm/cache
app-wasm/cache
./app-wasm/.vscode
/app-wasm/.vscode
app-wasm/.vscode/**/*
app-wasm/.vscode/**/*
rust-wasm-callback/target/**
rust-wasm-callback/target

app-wasm/.vscode/
app-wasm/.angular/
